doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css', crossorigin='anonymous')
    style.
      body {
        backgroud: #fff;
      }

  body
    #app
      jadeeditor(:content.sync='content', :rows='rows', :id='jid')
      .btn-group.btn-group-sm
        button.btn.btn-warning.je-html(@click='evt("je-insert-content", "<button>button</button>", "e1")') add button html to editor
        button.btn.btn-warning.je-i(@click='evt("je-paired-tag", "i", "e1")') i
        button.btn.btn-warning.je-b(@click='evt("je-paired-tag", "b", "e1")') b
        button.btn.btn-warning.je-untab(@click='evt("je-untab", "e1")') &larr;
        button.btn.btn-warning.je-tab(@click='evt("je-tab", "e1")') &rarr;

    script(src='/vue/dist/vue.js')
    script(src='/jquery/dist/jquery.js')
    script(src='/vue-jade-editor.min.js')
    script.
      Vue.use(jadeEditor)
      var vue = new Vue({
        el: '#app'
        ,data: {
          content: 'init content'
          ,rows: 5
          ,jid: 'e1'
        }
        ,methods: {
          evt: function() {
            var args = Array.prototype.slice.call(arguments)
            this.$broadcast.apply(this, args)
          }
        }

      })